<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="bg-dark">
    <table class="table  table-dark table-bordered" >
       <thead>
        <tr>
            <th>
                Language
            </th>
            <th>
                Category
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>

        </tr>
       </thead>
       <tbody>
       {% for d in data %}
        <tr>
            <td>{{ d.Language }}</td>
            <td>{{ d.Category }}</td>
            <td>{{ d.Name }}</td>
            <td><img src="{{ d.Image.url }}" alt="" style="border-radius: 100%;" width="40px" height="40px" ></td>
            <td>
                <form action="{% url 'editmovie' dataid=d.id %}">
                    <button class="btn btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form action="{% url 'deletemovie' dataid=d.id %}">
                    <button class="btn btn-primary">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
       {% endfor %}

       </tbody>


    </table>

</div>

</body>
</html>
{% endblock %}