<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body style="background: #434242; margin: 5% 15%;">


<div style="margin-left:30%; background-color: #658864; text-align: center; color: aliceblue; width: 400px;
height: 400px; padding-top: 20px; padding: 2% 2% 0 2%;">
    <strong>Login Page</strong>
    <form method="post" action="{% url 'adminlogin' %}">

        {% csrf_token %}
        <div style="margin-top: 10%; margin-bottom: 20px;">
           <div class="input-group" style="margin-top: 2%;">
            <input type="text" placeholder="Your Name" class="form-control" name="username">
           </div>
           <div class="input-group" style="margin-top: 4%;">
            <input type="text" placeholder="Your Password" class="form-control" name="password">
           </div>
        </div>
        <button class="btn btn-success">Submit</button>


    </form>

</div>




</body>
</html>